version: '3.6'
services:
  iris:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    command: --check-caps false
    environment:
      - ISC_CPF_MERGE_FILE=/irisdev/app/merge.conf
    ports: 
      - 1972
      - 53795:52773
      - 53773
    volumes:
      - ./:/irisdev/app
  notebook:
    build: 
      context: notebook
      dockerfile: dockerfile
    ports:
      - "8888:8888"
    volumes:
      - ./notebook/Notebooks:/Notebooks
    command: "start-notebook.sh --NotebookApp.token='' --NotebookApp.password='' --notebook-dir=/Notebooks"
